# Mongo
MONGO_CONTAINER_NAME=mongo_elearning
MONGO_HOST=mongo_elearning
MONGO_PORT=3301
MONGO_USERNAME=admin
MONGO_PASSWORD=password
MONGO_DB=elearning_db


# Docker
NETWORK_NAME=elearning-network
NETWORK_DEV_NAME=elearning-dev-network
BACK_CONTAINER_NAME=elearning-service
BACK_PORT=3002